@import './variables.less';

@prefix-cls: ~'@{common-prefix}-form';

.@{prefix-cls} {
  --nutui-form-item-label-width: @form-item-label-width;
  --nutui-cell-padding: @form-item-padding;

  &.placement {
    &-left {
      --nutui-form-item-body-slots-text-align: left;
      --nutui-form-item-body-input-text-align: left;
    }
    &-right {
      --nutui-form-item-body-slots-text-align: right;
      --nutui-form-item-body-input-text-align: right;
    }
  }

  .nut-form {
    &-item {
      &__label {
        padding-right: 0;
      }
      &__body__tips {
        display: none;
        opacity: 0;
        height: 0;
        position: absolute;
      }
    }
  }

  .nut-cell-group__wrap {
    margin: 0;
  }

  .h5-input {
    font-weight: 500;
  }

  .nut-textarea__textarea {
    min-height: 80rpx;
    max-height: 120rpx;
  }
}
